Repository pragnyanramtha/hercule: changes, and which pre-commit hooks are due for each by the changed paths.
All: run-backend-tests, run-frontend-tests

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: run-backend-tests
        name: Run backend tests
        entry: bash -c "cd backend && python -m pytest test_backend.py -v"
        language: system
        pass_filenames: false
        files: ^backend/

      - id: run-frontend-tests
        name: Run frontend tests
        entry: bash -c "cd frontend && npm test -- --run"
        language: system
        pass_filenames: false
        files: ^frontend/

  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        language_version: python3
        files: ^backend/

  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.15.0
    hooks:
      - id: eslint
        files: \.(js|ts|tsx)$
        types: [file]
        additional_dependencies:
          - eslint@^8.57.0
          - "@typescript-eslint/parser@^8.0.0"
          - "@typescript-eslint/eslint-plugin@^8.0.0"
          - eslint-plugin-react@^7.37.0
          - eslint-plugin-react-hooks@^4.6.2

fix: cleanup
  .gitignore
  backend/.python-version
  backend/pyproject.toml
  backend/test_backend.py
  backend/test_discovery.py
  backend/uv.lock
  frontend/src/popup/App.tsx
Due: run-backend-tests, run-frontend-tests

not a fix: i fucked up
  backend/main.py
  backend/service_discovery.py
  backend/service_llm.py
  frontend/src/popup/App.tsx
Due: run-backend-tests, run-frontend-tests

fix: starting by changing servive discovery
  backend/service_discovery.py
Due: run-backend-tests

fix: parallel endpoint update to main.py
  backend/main.py
Due: run-backend-tests

fix: updated backend fix to frontend
  frontend/src/popup/App.tsx
Due: run-frontend-tests

fix: test passing
  backend/requirements.txt
  backend/service_discovery.py
  backend/test_backend.py
Due: run-backend-tests

fix: service mistake
  frontend/src/popup/App.tsx
Due: run-frontend-tests

refactor: readjusted code to remove azure compatability
  .env.example
  README.md
  backend/README.md
  backend/main.py
  backend/requirements.txt
  backend/service_llm.py
  image.png
Due: run-backend-tests

feat: parallization go woooo baby
  backend/service_discovery.py
Due: run-backend-tests

feat: fallback models
  backend/models.py
  backend/service_discovery.py
  backend/service_llm.py
  frontend/public/icons/icon128.png
  frontend/public/icons/icon16.png
  frontend/public/icons/icon32.png
  frontend/public/icons/icon48.png
  frontend/public/icons/logo.png
  frontend/src/popup/App.tsx
  frontend/src/popup/components/ActionItems.tsx
  frontend/src/popup/components/Icons.tsx
  frontend/src/popup/components/TrafficLight.tsx
  frontend/update_icons.py
  shared/types.ts
Due: run-backend-tests, run-frontend-tests

fix: broken info getters
  backend/main.py
  backend/service_discovery.py
  backend/service_llm.py
Due: run-backend-tests

fix: broken info getters 2
  backend/service_discovery.py
Due: run-backend-tests

feat: direct mail
  frontend/src/popup/components/ActionItems.tsx
Due: run-frontend-tests

fix: search engine fix
  backend/main.py
  backend/service_discovery.py
  backend/service_llm.py
Due: run-backend-tests

feat: trying automated mail
  .env.example
  backend/main.py
  backend/test_backend.py
  frontend/src/popup/components/ActionItems.tsx
  frontend/src/test/components/TrafficLight.test.tsx
Due: run-backend-tests, run-frontend-tests

fix: added strict validation
  backend/service_discovery.py
  backend/test_discovery.py
  backend/tests/__init__.py
  backend/tests/conftest.py
  backend/tests/test_backend.py
  backend/tests/test_discovery.py
Due: run-backend-tests

fix: added tests
  frontend/create_icons.py
  frontend/package.json
Due: run-frontend-tests

fix: mail
  backend/models.py
  backend/service_llm.py
  frontend/package-lock.json
Due: run-backend-tests, run-frontend-tests

feat: added settings panel with name and key settings
  frontend/src/popup/App.tsx
  frontend/src/popup/components/Settings.tsx
  frontend/src/test/components/Settings.test.tsx
  frontend/src/test/setup.ts
Due: run-frontend-tests

fix faster retrieval and improve caching logic
  backend/cache.py
  backend/main.py
  backend/requirements.txt
  backend/service_llm.py
Due: run-backend-tests

feat: added key rotations
  backend/api_key_manager.py
  backend/cache_cosmos.py
  backend/function_app.py
  backend/host.json
  backend/local.settings.json
  backend/tests/test_api_key_manager.py
  backend/tests/test_cache.py
Due: run-backend-tests

feat: key.json
  backend/keys.json
Due: run-backend-tests

docs: updated docs
  .env.example
  .gitignore
  README.md
  image.png
Due: none

fix: warnings
  frontend/src/test/components/Settings.test.tsx
Due: run-frontend-tests

fix: greenlight issue
  frontend/src/popup/components/RedFlags.tsx
  frontend/src/test/components/RedFlags.test.tsx
Due: run-frontend-tests

fix: cache issues
  .pre-commit-config.yaml
  backend/cache.py
  backend/main.py
Due: run-backend-tests

Delete backend/local.settings.json
  backend/local.settings.json
Due: run-backend-tests

new version
  .gitignore
  AZURE_DEPLOYMENT.md
  backend/.gitignore
  backend/local.settings.json
  backend/local.settings.json.example
  backend/pyproject.toml
  backend/requirements.txt
  backend/uv.lock
Due: run-backend-tests

Production ready: enable Azure deps, add domain cache to cosmos, add frontend prod env
  backend/.gitignore
  backend/cache_cosmos.py
  backend/requirements.txt
  frontend/.env.production
Due: run-backend-tests, run-frontend-tests

final commit ?
  frontend/.gitignore
  frontend/src/config.ts
Due: run-frontend-tests

fix: anti permanent caching
  frontend/.env.development
  frontend/.env.production
  frontend/package.json
  frontend/src/popup/App.tsx
Due: run-frontend-tests

fix: cache distruption
  backend/function_app.py
  backend/local.settings.json.example
  backend/main.py
  backend/service_discovery.py
  backend/service_llm.py
Due: run-backend-tests

docs: mermaid graph
  .gitignore
  docs/architecture_diagrams.md
Due: none

feat: dynamic visuals for waiting screen
  frontend/package-lock.json
  frontend/package.json
  frontend/src/popup/App.tsx
  frontend/src/popup/components/Icons.tsx
  frontend/src/popup/components/WaitingScreen.tsx
Due: run-frontend-tests

Update README.md
  README.md
Due: none

Add image to README for visual representation
  README.md
Due: none

feat: added render service
  .gitignore
  backend/.env.example
  backend/Procfile
  backend/README.md
  backend/nixpacks.toml
  backend/railway.toml
  backend/requirements-prod.txt
  backend/requirements.txt
  backend/runtime.txt
  docs/complete_system_flow.md
  frontend/.env.example
  frontend/.env.production
  frontend/package-lock.json
  frontend/src/config.ts
  frontend/src/popup/components/WaitingScreen.tsx
Due: run-backend-tests, run-frontend-tests

fix: catonizations
  frontend/src/config.ts
Due: run-frontend-tests

fix : wrong format
  backend/service_llm.py
  frontend/hercule.zip
Due: run-backend-tests, run-frontend-tests

feat: enhanced error handling with URL-only fallback chain
  backend/service_llm.py
Due: run-backend-tests
